//====================================================================================================
.footer {
        @include adaptiveValue("padding-top", 88,30 );
        @include adaptiveValue("padding-bottom", 88,30 );
    // .footer__container

    &__container {
        @include adaptiveValue("gap",24 ,12 );
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    // .footer__social-icons

    &__social-icons {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap",35 ,17 );
        @media (max-width:$mobile){

            
        }
    }

    // .footer__icon

    &__icon {
        font-size: rem(24);
        color: $greyColor;
        transition: all 0.2s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $purpleColor;
            }
        }
    }

    // .footer__rights

    &__rights {
        line-height: math.div(17 ,14 );
        color: $greyColor;
    }
}


//====================================================================================================
